@import "@blueprintjs/core/lib/css/blueprint";
@import "@blueprintjs/popover2/lib/css/blueprint-popover2";
@import "@blueprintjs/icons/lib/css/blueprint-icons";

.DesignTreeListItem {
  cursor: pointer;
}

.DesignTreeListItem:hover {
  background-color: rgba(0,0,0,0.06)
}

.DesignTreeListItem .bp3-context-menu{
  display: inline;
}

.DesignTreeListItem .bp3-tag {
    min-height: 16px;
    padding: 0 4px;
    font-size: 11px;
}

.TreeListItem--active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: var(--color-link);
}

.TreeListItem__icon, .TreeListItem__label, .TreeListItem__input {
    padding-left: 5px;
}

.TreeListItem__input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    padding-right: 5px;
}
.DesignTreeListItem__input {
    appearance: none;
    border: none;
    background: 0 0;
    box-shadow: none;
    outline: none;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    padding-right: 5px;
}
.unicode-bidi {
    unicode-bidi: bidi-override;
}
.direction-rtl {
    direction: rtl;
}
.bp3-simple-tab-list {
    margin: 0;
    padding: 0;
    user-select: none;
}
.bp3-simple-tab {
    display: inline-block;
    bottom: -1px;
    position: relative;
    list-style: none;
    cursor: pointer;
    padding: 7px 15px;
    z-index: 2;
    border-width: 1px;
    margin-left: -1px;
}
.bp3-simple-tab-panel {
    /*border-width: 1px;*/
    display: none;
    border-radius: 3px;
    border-top-left-radius: 0;
}

:root {
    --canvas-h: 218;
    --canvas-s: 32%;
    --canvas-l: 8%;
    --color-canvas: hsla(var(--canvas-h), var(--canvas-s), var(--canvas-l), 1);
    --color-canvas-pure: hsla(218, 32%, 5%, 1);
    --editor-bg: var(--color-canvas) !important;
    --sidebar-bg: var(--color-canvas-pure) !important;
    --gutter-bg: var(--color-canvas) !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

*, :after, :before {
    border: 0 solid #8694ad80;
    box-sizing: border-box;
}

.sidebar-bg {
    background-color: var(--sidebar-bg);
}
.content-bg{
    background-color: var(--editor-bg);
}

.monaco-editor .margin, .monaco-editor .monaco-editor-background, .monaco-editor .inputarea.ime-input {
    background-color: var(--color-canvas)!important;
}

.bg-canvas {
    background-color: #0f141b;
}

.TreeListItem {
    height: 30px;
}
.DesignTreeListItem {
    padding: 0 7px;
}
.DesignTreeListItem__path {
    padding-left: 22px;
}

/**
 * Tab styles
 */
.bp3-simple-tab.bp3-dark, .bp3-dark .bp3-simple-tab {
    color: #738694;
    background-color: #293742;
    border-color: rgba(16,22,26,.4);
    font-size: 12px;
    font-weight: 400;
}
.bp3-simple-tab.bp3-dark:hover, .bp3-dark .bp3-simple-tab:hover {
    color: #ced9e0;
}
.bp3-focus-disabled :focus {
    outline: none!important;
}
.bp3-simple-tab:first-of-type {
    border-top-left-radius: 3px;
    margin-left: 0;
}
.bp3-simple-tab:last-of-type {
    border-top-right-radius: 3px;
}
.bp3-simple-tab.selected-tab {
    cursor: default;
}

.very-hidden-input{
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    height: 0px;
    overflow: scroll;
    white-space: pre;
    font-size: 11px;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
}

.bp3-dark .dark\:bg-success {
    background-color: #48bb78;
}
.bp3-dark .dark\:bg-info {
    background-color: #008eff;
}
.bp3-dark .dark\:bg-warning {
    background-color: #ed8936;
}
.bp3-dark .dark\:bg-danger {
    background-color: #f56565;
}
.text-sm {
    font-size: 11px;
}
.StudioInput, .bp3-dark .StudioInput {
    border-width: 1px;
    border-radius: 2px;
    height: 30px;
}
