@import "@blueprintjs/core/lib/css/blueprint";
@import "@blueprintjs/popover2/lib/css/blueprint-popover2";
@import "@blueprintjs/icons/lib/css/blueprint-icons";

.bp3-simple-tab-list {
    margin: 0;
    padding: 0;
    user-select: none;
}
.bp3-simple-tab {
    display: inline-block;
    bottom: -1px;
    position: relative;
    list-style: none;
    cursor: pointer;
    padding: 7px 15px;
    z-index: 2;
    font-weight: 500;
    border-width: 1px;
    margin-left: -1px;
}
.bp3-simple-tab-panel {
    /*border-width: 1px;*/
    display: none;
    border-radius: 3px;
    border-top-left-radius: 0;
}

:root {
    --canvas-h: 218;
    --canvas-s: 32%;
    --canvas-l: 8%;
    --color-canvas: hsla(var(--canvas-h), var(--canvas-s), var(--canvas-l), 1);
    --color-canvas-pure: hsla(218, 32%, 5%, 1);
    --editor-bg: var(--color-canvas) !important;
    --sidebar-bg: var(--color-canvas-pure) !important;
    --gutter-bg: var(--color-canvas) !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

*, :after, :before {
    border: 0 solid #8694ad80;
    box-sizing: border-box;
}

.sidebar-bg {
    background-color: var(--sidebar-bg);
}
.content-bg{
    background-color: var(--editor-bg);
}

.monaco-editor .margin, .monaco-editor .monaco-editor-background, .monaco-editor .inputarea.ime-input {
    background-color: var(--color-canvas)!important;
}

.bg-canvas {
    background-color: #0f141b;
}

.TreeListItem {
    height: 30px;
}
.DesignTreeListItem {
    padding: 0 7px;
}
.DesignTreeListItem__path {
    padding-left: 22px;
}

/**
 * Tab styles
 */
.bp3-simple-tab.bp3-dark, .bp3-dark .bp3-simple-tab {
    /*color: #738694;*/
    /*background-color: #293742;*/
    /*border-color: rgba(16,22,26,.4);*/
}
.bp3-simple-tab.bp3-dark.selected-tab, .bp3-dark .bp3-simple-tab.selected-tab {
    /*color: #fff;*/
    /*background-color: #202b33;*/
    /*border-bottom-color: #202b33;*/
}
.bp3-simple-tab:first-of-type {
    border-top-left-radius: 3px;
    margin-left: 0;
}
.bp3-simple-tab:last-of-type {
    border-top-right-radius: 3px;
}
.bp3-simple-tab.selected-tab {
    cursor: default;
}
.bp3-simple-tab {
    /*color: #738694;*/
    /*@apply bg-gray-100 dark:bg-gray-700*/
}
.bp3-simple-tab-panel {
    /*background-color: #fff;*/
}
.bp3-dark .bp3-simple-tab-panel {
    /*background-color: #202b33;*/
    /*border-color: rgba(16,22,26,.4);*/
}
/*.bp3-simple-tab-panel.block{*/
    /*display: block;*/
/*}*/

/*.methodTabs .bp3-tab-list:first-child {*/
    /*@apply mt-6 px-10 flex*/
/*}*/

.very-hidden-input{
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    height: 0px;
    overflow: scroll;
    white-space: pre;
    font-size: 11px;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
}

.bp3-dark .dark\:bg-success {
    background-color: #48bb78;
}
.bp3-dark .dark\:bg-info {
    background-color: #008eff;
}
.bp3-dark .dark\:bg-warning {
    background-color: #ed8936;
}
.bp3-dark .dark\:bg-danger {
    background-color: #f56565;
}

